.button {
    font-family: "Montserrat Alternates", sans-serif;

    font-size: 18px;
    border: none;
    background-color: #FFCA10;
    color: white;

    //padding: 5px;
    //padding-left: 20px;
    //padding-right: 20px;
    //border-radius: 15px;

    display: block;

    &:hover {
        background-color: #c9a00f;
    }

    // Квадратная кнопка
    &--square {
        width: 50px;
        height: 50px;
        padding: 0;
    }

    &--pay {
        right: 0;
        border-radius: 12px;
        padding: 3px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        
    }


    // Круглая кнопка
    &--round {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
    }

    // Овальная кнопка
   
}