@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat Alternates", sans-serif;

    --background-light: white;  
    --primary-light: #e0e0e0;
    
    --text-light: rgb(36, 36, 36);  // цвет текста h3
    --stats-light:rgb(36, 36, 36);//цвет текста статистики

    --secondary-light: #eeeeee; //эллементыпо типу input textarea
    --tertiary-light: rgb(247, 247, 247); 
    --substrate-color-light: #fdfdfd;



    
    --background-dark: #0e0e0e;
    --primary-dark: #f8f8f8;

    --text-dark: rgb(184, 184, 184);  // цвет текста h3
    --stats-dark: #ffd47d; //цвет текста статистики
    
    --secondary-dark: #fdfdfd; //эллементыпо типу input textarea
    --tertiary-dark: #ffd47d;
    --substrate-color-dark: #ffffff;
}

/* Стиль для светлой темы */
[data-theme="light"] {
    --background: var(--background-light);
    --primary: var(--primary-light);
    --text: var(--text-light); 
    --stats: var(--stats-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light); 
    --substrate-color: var(--substrate-color-light);
}

/* Стиль для темной темы */
[data-theme="dark"] {
    --background: var(--background-dark);
    --primary: var(--primary-dark);
    --text: var(--text-dark); 
    --stats: var(--stats-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --substrate-color: var(--substrate-color-dark);

    
}

/* Стиль для системных настроек */
@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--background-dark);
        --primary: var(--primary-dark);

        --text: var(--text-dark); 
        --stats: var(--stats-dark);

        --secondary: var(--secondary-dark);
        --tertiary: var(--tertiary-dark);
        --substrate-color: var(--substrate-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--background-light);
        --primary: var(--primary-light);

        --text: var(--text-light); 
        --stats: var(--stats-light);

        --secondary: var(--secondary-light);
        --tertiary: var(--tertiary-light);
        --substrate-color: var(--substrate-color-light);
    }
}
